In [1]:
import pandas as pd
import numpy as np
import os

In [22]:
'iris',
'Haberman\x92s Survival',
'Car Evaluation',
'Titanic',
'Breast Cancer Wisconsin',
'Pima Indian Diabetes',
'GermanCredit Data',
'Image Segmentation',
'Connect-4',
'Poker Hand',
'Gime-Me-Some-Credit',
'Covertype'


df_paper_result = pd.DataFrame(data=[['iris', 100.0, 100.0, 100.0],
                                     ['Haberman\x92s Survival', 70.9, 66.1, 70.9],
                                     ['Car Evaluation', 95.1, 96.5, 91.6],
                                     ['Titanic', 80.4, 79.0, 76.9],
                                     ['Breast Cancer Wisconsin', 94.9, 91.9, 95.6],
                                     ['Pima Indian Diabetes', 66.9, 74.7, 64.9],
                                     ['Gime-Me-Some-Credit', 98.6, 92.2, 100.0],
                                     ['Poker Hand', 50.0, 65.1, 50.0],
                                     ['GermanCredit Data', 70.5, 66.5, 70.5],
                                     ['Connect-4', 66.9, 77.7, 75.7],
                                     ['Image Segmentation', 70.6, 96.1, 48.05],
                                     ['Covertype', 49.0, 93.9, 49.0]],
                               columns = ['data_name', 'acc_test_DNDT', 'acc_test_DT', 'acc_test_NN'])

In [23]:
df = pd.read_csv('results/perf_tree_DNN.csv', sep='\t', encoding = "ISO-8859-1")

In [24]:
df.rename(columns={"loss_test":'loss_val', 'acc_test':'acc_val'}, inplace=True)

In [25]:
df.columns

Index(['data_name', 'loss_train', 'acc_train', 'loss_val', 'acc_val'], dtype='object')

In [26]:
print(df.to_string())

                  data_name  loss_train  acc_train  loss_val   acc_val
0                      iris    0.086184   0.960000  0.030963  1.000000
1       Habermans Survival    0.499145   0.765854  0.534243  0.752475
2            Car Evaluation    0.275027   0.838375  0.292234  0.802102
3                   Titanic    0.382704   0.827181  0.385206  0.830508
4   Breast Cancer Wisconsin    0.084160   0.973742  0.059193  0.977876
5      Pima Indian Diabetes    0.394117   0.811284  0.506249  0.767717
6         GermanCredit Data    0.442035   0.798507  0.493976  0.769697
7        Image Segmentation    0.138974   0.950000  0.351354  0.871429
8                 Connect-4    0.597538   0.750039  0.624793  0.741365
9                Poker Hand    0.489943   0.821915  0.514995  0.809305
10      Gime-Me-Some-Credit    0.194820   0.934550  0.198127  0.932198
11                Covertype    0.302639   0.877499  0.316681  0.871619

In [27]:
# df.to_dict('list')

In [28]:
df_tree = pd.read_csv('results/perf_vanilla_tree.csv', sep='\t', encoding = "ISO-8859-1")

In [29]:
print(df_tree.to_string())

                  data_name  acc_train  acc_test
0                      iris   1.000000  0.960000
1       Habermans Survival   0.960976  0.603960
2            Car Evaluation   0.858254  0.740806
3                   Titanic   0.942953  0.783051
4   Breast Cancer Wisconsin   1.000000  0.938053
5      Pima Indian Diabetes   0.978599  0.696850
6       Gime-Me-Some-Credit   0.943510  0.930409
7                Poker Hand   0.589401  0.531863
8         GermanCredit Data   0.947761  0.693939
9                 Connect-4   0.720257  0.708711
10       Image Segmentation   1.000000  0.800000
11                Covertype   0.783104  0.776555

In [30]:
df2 = pd.merge(df[['data_name', 'loss_train', 'loss_val', 'acc_train', 'acc_val']], 
               df_tree.rename(columns={'acc_train': 'acc_train_DT', 'acc_test': 'acc_val_DT'}),
         on='data_name', how='outer')

In [31]:
df2 = pd.merge(df2, df_paper_result,
         on='data_name', how='outer')

In [34]:
for col in  ['acc_train', 'acc_val', 'acc_train_DT', 'acc_val_DT']:
    df2[col] = 100 * df2[col]

In [33]:
df2.columns

Index(['data_name', 'loss_train', 'loss_val', 'acc_train', 'acc_val',
       'acc_train_DT', 'acc_val_DT', 'acc_test_DNDT', 'acc_test_DT',
       'acc_test_NN'],
      dtype='object')

In [38]:
df2.round({'loss_train': 3, 'loss_val':3,
           'acc_train': 1, 'acc_val': 1, 'acc_train_DT': 1, 'acc_val_DT': 1})

,data_name,loss_train,loss_val,acc_train,acc_val,acc_train_DT,acc_val_DT,acc_test_DNDT,acc_test_DT,acc_test_NN
0,iris,0.086,0.031,96.0,100.0,100.0,96.0,100.0,100.0,100.00
1,Habermans Survival,0.499,0.534,76.6,75.2,96.1,60.4,70.9,66.1,70.90
2,Car Evaluation,0.275,0.292,83.8,80.2,85.8,74.1,95.1,96.5,91.60
3,Titanic,0.383,0.385,82.7,83.1,94.3,78.3,80.4,79.0,76.90
4,Breast Cancer Wisconsin,0.084,0.059,97.4,97.8,100.0,93.8,94.9,91.9,95.60
5,Pima Indian Diabetes,0.394,0.506,81.1,76.8,97.9,69.7,66.9,74.7,64.90
6,GermanCredit Data,0.442,0.494,79.9,77.0,94.8,69.4,70.5,66.5,70.50
7,Image Segmentation,0.139,0.351,95.0,87.1,100.0,80.0,70.6,96.1,48.05
8,Connect-4,0.598,0.625,75.0,74.1,72.0,70.9,66.9,77.7,75.70
9,Poker Hand,0.490,0.515,82.2,80.9,58.9,53.2,50.0,65.1,50.00
10,Gime-Me-Some-Credit,0.195,0.198,93.5,93.2,94.4,93.0,98.6,92.2,100.00
11,Covertype,0.303,0.317,87.7,87.2,78.3,77.7,49.0,93.9,49.00